<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
</head>


<body>
 <header th:fragment="header" class="header">
   <nav>
      <ul>
        <li class="dropdown">
          <div class="dropdown-menu-list">기준정보</div>
          <div class="dropdown-content">
            <a href="#">공통코드</a>
            <a href="#">메뉴코드</a>
            <a href="#">원료코드</a>
            <a href="#">설비코드</a>
            <a href="#">사원관리</a>
          </div>
        </li>
        <li class="dropdown">
          <div class="dropdown-menu-list">주문</div>
          <div class="dropdown-content">
           	<a href="/order/order">주문관리</a>
            <a href="/order/check">주문현황</a>
          </div>
        </li>
        <li class="dropdown">
          <div class="dropdown-menu-list">원료관리</div>
          <div class="dropdown-content">
           <a href="/order/order">원료입고</a>
           <a href="/order/check">재고현황</a>
          </div>
        </li>
        <li class="dropdown">
          <div class="dropdown-menu-list">레포트</div>
        </li>
        <li class="home"><a href="#">Home</a></li>
      </ul>
    </nav>    
  </header>
</body>

</html>
